<!doctype html>
<html>
<head>
    <title>Rugrats Quiz</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1>Profile</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

        <form action="/messages" method="post">
          <h1>Rugrats Quiz</h1>
          <h2>Take the quiz to find out which Rugrats character you are!</h2>
          <section>
            <p>1. What was your favorite toy?</p>
            <div>
              <input type="radio" name="toy" value="1" class="toy">
              <label>Dolls</label>
            </div>
            <div>
              <input type="radio" name="toy" value="2" class="toy">
              <label>Leggos</label>
            </div>
            <div>
              <input type="radio" name="toy" value="1" class="toy">
              <label>Cars</label>
            </div>
            <div>
              <input type="radio" name="toy" value="1" class="toy">
              <label>Action Figures</label>
            </div>
            <div>
              <input type="radio" name="toy" value="1" class="toy">
              <label>Puzzle</label>
            </div>
          </section>
          <section>
            <p>2. What is your favorite dessert?</p>
            <div>
              <input type="radio" name="dessert" value="1" class="dessert">
              <label>Cake</label>
            </div>
            <div>
              <input type="radio" name="dessert" value="2" class="dessert">
              <label>Brownie</label>
            </div>
            <div>
              <input type="radio" name="dessert" value="1" class="dessert">
              <label>Cheesecake</label>
            </div>
            <div>
              <input type="radio" name="dessert" value="1" class="dessert">
              <label>Flan</label>
            </div>
            <div>
              <input type="radio" name="dessert" value="1" class="dessert">
              <label>Fried Dough</label>
            </div>
          </section>
          <section>
            <p>3. What is your favorite Nickelodeon Show?</p>
            <div>
              <input type="radio" name="show" value="1" class="show">
              <label>Rugrats, duh!</label>
            </div>
            <div>
              <input type="radio" name="show" value="2" class="show">
              <label>CatDog</label>
            </div>
            <div>
              <input type="radio" name="show" value="1" class="show">
              <label>All That</label>
            </div>
            <div>
              <input type="radio" name="show" value="1" class="show">
              <label>Doug</label>
            </div>
            <div>
              <input type="radio" name="show" value="1" class="show">
              <label>Spongebob</label>
            </div>
          </section>
          <section>
            <p>4. What is your favorite color?</p>
            <div>
              <input type="radio" name="color" value="1" class="color">
              <label>Red</label>
            </div>
            <div>
              <input type="radio" name="color" value="2" class="color">
              <label>Purple</label>
            </div>
            <div>
              <input type="radio" name="color" value="1" class="color">
              <label>Green</label>
            </div>
            <div>
              <input type="radio" name="color" value="2" class="color">
              <label>Black</label>
            </div>
            <div>
              <input type="radio" name="color" value="2" class="color">
              <label>Blue</label>
            </div>
          </section>
          <section>
            <p>5. What is your favorite city?</p>
            <div>
              <input type="radio" name="city" value="1" class="city">
              <label>Miami</label>
            </div>
            <div>
              <input type="radio" name="city" value="2" class="city">
              <label>Atlanta</label>
            </div>
                    <div>
              <input type="radio" name="city" value="1" class="city">
              <label>New York City</label>
            </div>
            <div>
              <input type="radio" name="city" value="2" class="city">
              <label>Boston</label>
            </div>
            <div>
              <input type="radio" name="city" value="2" class="city">
              <label>Los Angeles</label>
            </div>
          </section>
          <button type="submit">Submit Answers</button>
        </form>

          <h2>Results:   <span></span></h2>

<script src="main.js"></script>

</body>
</html>
